body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin: 0;
  width: 100%;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
